/*General*/
body,
main,
header {
  max-width: 2000px;
  width: 100%;
  margin: 0px;
  font-family: "museo sans 300", Verdana, Geneva, Tahoma, sans-serif;
}

header img {
  max-width: 2000px;
  width: 100%;
}

.header-image {
  position: relative;
}

.active {
  text-decoration: underline;
}

.red {
  font-family: "museo sans 700";
  color: #8e0639;
}

.yellow {
  font-family: "museo sans 700";
  color: #fbaa30;
}

.line {
  border: 1px solid #07f59c;
  margin: 40px 10px;
}
/*NAV*/
nav {
  display: none;
}

nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #07f59c;
}

#hamburger-label {
  margin-left: 10px;
  font-size: 3vmax;
  color: white;
  position: absolute;
  top: 2%;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
  background-color: black;
  color: #07f59c;
  text-align: left;
  position: absolute;
  top: 5%;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
}

/*Home page*/
main h1 {
  font-family: "scarlet wood";
  color: #410587;
  text-align: center;
  font-size: 3vmax;
  margin-bottom: 5px;
}

.headline {
  font-family: "museo sans 700";
  text-align: center;
  margin: 0px 10px;
}

.whale img {
  max-width: 330px;
  width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.first-paragraph,
.second-paragraph,
.third-paragraph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
}

.neanderthal img,
.vr img,
.explode-index img {
  max-width: 150px;
  width: 100%;
  height: 150px;
  margin-left: 10px;
  margin-top: 15%;
  border-radius: 50%;
}

.paint img {
  max-width: 150px;
  width: 100%;
  height: 150px;
  margin-top: 15%;
  border-radius: 50%;
}

/*Explore page*/

.explore-main,
.exhibition-main,
.news-main,
.visit-main {
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  font-family: "museo sans 700";
  text-decoration: underline solid #b158ab;
  margin-left: 10px;
  font-size: 2.5vmax;
}
.head-image img,
.bottom-image img {
  max-width: 1000px;
  width: 99%;
  display: block;
  margin: 0 auto;
}

.for-kids p,
.for-teachers p,
.for-researchers p {
  margin-top: 30px;
}

.bottom-images img {
  max-width: 200px;
  width: 100%;
  height: 180px;
  margin: 20px 0px 30px 0px;
}

.bottom-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

/*Exhibition page*/

.exhibition-main h2,
.news-main h2 {
  text-align: center;
}

.exhibition-main p,
.news-main p {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*news page*/
.bottom-image img {
  margin-bottom: 30px;
}

/*Visit us page*/

.location,
.admission,
.opening-hours,
.cafe,
.accessibility,
.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.location h2,
.admission h2,
.opening-hours h2,
.cafe h2,
.accessibility h2,
.shop h2 {
  grid-row: 1;
  grid-column: 1/3;
}

.opening-hours table {
  font-size: 1.5vmax;
}
.opening-hours img {
  grid-row: 2;
  grid-column: 1/3;
  width: 170px;
}

.location img,
.admission img,
.opening-hours img,
.cafe img,
.accessibility img,
.shop img {
  max-width: 200px;
  margin-left: 20px;
  margin-top: 16px;
}

/*Footer*/
footer {
  color: #b158ab;
  background-color: black;
}

.footer-content {
  display: flex;
  flex: 1fr 1fr;
  font-size: 1.5vmax;
}

.footer-content li {
  list-style: none;
  font-size: 1.5vmax;
}

.footer-content a {
  text-decoration: none;
  color: #b158ab;
  font-size: 2vmax;
  cursor: pointer;
}

.footer-content h2 {
  margin-left: 0;
}

.contact {
  font-size: 2vmax;
}

.contact-us {
  padding-left: 20%;
}

.copyright {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
